* {
  margin: 0px;
}

html {
  background-color:black;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 0px;
  background-color: rgb(38, 36, 36);
  color: aliceblue;
  text-decoration: none;
}

#menu{
  text-decoration: none;
  color: aliceblue;
}

#menu:hover{
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* border: 1px solid; */
  font-size: x-large;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu_btns{
  display: flex;
  justify-content: flex-end;
}

.help{
  margin-left: 2vw;
}

.imp{
  font-size: 2.0em;
}

.presets_wrapper{
  display: flex;
  justify-content: center;
}

.presets{
  display: flex;
  width: 90%;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.preset_card {
  display: flex;
  box-sizing: border-box;
  margin: 25px;
  width: 350px;
  height: 150px;
  border-radius: 25px;
  font-size: xx-large;
  color: aliceblue;
}

.icon_wrapper{
  display: flex;
  box-sizing: border-box;
  width: 35%;
  height: 100%;
  background-color: #fafafa;
  border: 2px #fafafa solid;
  z-index: 1;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.preset{
  display: flex;
  box-sizing: border-box;
  margin-left: -5%;
  border-radius: 0rem 1rem 1rem 0rem;
  width: 70%;
  height: 100%;
  background-color: rgb(42, 130, 207);
  border: 2px #fafafa solid;
  justify-content: center;
  align-items: center;
}

.icon{
  width: 75%;
  height: 0;
  padding-top: 75%;
  background-color: #ccc;
  position: relative;
}

.icon_content{
  display: flex;
  border: solid #000 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}