* {
  margin: 0px;
}

html {
  background-color:black;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 0px;
  background-color: rgb(38, 36, 36);
  color: aliceblue;
  text-decoration: none;
}

#home{
  text-decoration: none;
  color: aliceblue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* border: 1px solid; */
  font-size: x-large;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu_btns{
  display: flex;
  justify-content: flex-end;
}

.help{
  margin-left: 2vw;
}

.imp{
  font-size: 2.0em;
}

.presets_wrapper{
  display: flex;
  justify-content: center;
}

.presets{
  display: flex;
  width: 80%;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.preset_card {
  display: flex;
  box-sizing: border-box;
  /* background-color: darkblue; */
  margin: 25px;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  font-size: xx-large;
  color: aliceblue;
  /* border: 1px aliceblue solid; */
}

.icon_wrapper{
  display: flex;
  box-sizing: border-box;
  width: 35%;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.75);
  border: 2px aliceblue solid;
  border-radius: 25px 0px 0px 25px;
  justify-content: center;
  align-items: center;
}

.preset{
  display: flex;
  box-sizing: border-box;
  width: 65%;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.75);
  border: 2px aliceblue solid;
  border-radius: 0px 25px 25px 0px;
  justify-content: center;
  align-items: center;
}

.icon{
  width: 75%;
  height: 0;
  padding-top: 75%;
  background-color: #ccc;
  position: relative;
}

.icon_content{
  position: absolute;
  top: 0;
  left: 0;
}